SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
CRON_TZ=America/Bogota
DB_HOST=host.docker.internal
DB_NAME=unir_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5433
0 2 * * * root cd /app && /usr/local/bin/python /app/scripts/run_daily_labor_acquisition.py >> /var/log/daily_labor_acquisition.log 2>&1
